@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,#E6E9F2,#F5F5F5);
}

.addh5css{
    background-color: #a8aae0;
    color: #373737;
    box-shadow: 0 0 10px #BFC0DE;
    font-weight: 600;
}
@media (min-width: 300px) {
    .artwork-card-parent {
        columns: 1 250px;
    }
    
}
.artwork-card-parent {
    width: 100%;
    overflow-y: scroll;
    padding: 1%;
    columns: 4 250px;
    gap: 1%;
    margin-top: 2%;
    padding: 2%;
    overflow-x: hidden;
    position: relative;
}


.artwork-card {
    width: 100%;
    margin-bottom: 4%;
    display: inline-block;
    break-inside: avoid;
}

.artwork-card img{
    width: 100%;
    height: auto;
    margin-bottom: 3%;  
    cursor: pointer;
    border-radius: 15px;
}

.artwork-card-parent::-webkit-scrollbar ,.main::-webkit-scrollbar{
    width: 0px;
}