@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,#E6E9F2,#F5F5F5);
}

.addh5css{
    background-color: #a8aae0;
    color: #373737;
    box-shadow: 0 0 10px #BFC0DE;
    font-weight: 600;
}